h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

body {
background-color: cadetblue;
font-family: sans-serif;
}
h1 {
margin-left: 40px;
color: beige;
}
main {
margin: 100px;
}