<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table cellpadding="20px"  border="1px solid black">
    <tr>
        <td></td>
        <td>Title</td>
        <td>Artist</td>
        <td>Songs</td>
        <td>length</td>
    </tr>
    <tr th:each ="album: ${album}" border="1px solid black">
        <td border="1px solid black" ><img th:src="${album.imageUrl}" width="119px" height="119px"></td>
        <td th:text = "${album.title}" border="1px solid black"></td>
        <td th:text = "${album.artist}" border="1px solid black"></td>
        <td th:text = "${album.songCount}" border="1px solid black"></td>
        <td th:text = "${album.length}" border="1px solid black"></td>
    </tr>
</table>
</body>
</html>