<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/addAlbum" method="post">
    <div>
        <label>Title : <input  type="text" name="title" required="required"/></label>
        <br/>
        <label>Artist : <input type="text" name="artist" required="required"/></label>
        <br/>
        <label>Song count : <input type="number" name="songCount" required="required"/></label>
        <br/>
        <label>length : <input type="number" name="length" required="required"/></label>
        <br/>
        <label>Cover Image Url : <input  type="text" name="imageUrl" required="required"/></label>
        <br/>
        <input type="submit" value="Add new data">
    </div>
</form>
</body>
</html>